<nav class="navbar navbar-light bg-light">
	<a class="navbar-brand" href="/">Home</a>
	<a class="navbar-brand" href="/auth/login">Login</a>
	<a class="navbar-brand" href="/auth/logout">LogOut</a>
	<a class="navbar-brand" href="/auth/logup">LogUp</a>
</nav>